<div class="card">    
    <%=image_tag(show.photo, class: "card-image") %>
    <p class="card-title"><%=show.name%></p>
    <p class="card-rating">Rating: <%=show.rating%></p>
    <p class="card-date">Premiered: <%=show.release_date%></p>
    <p class="card-description">Premiered: <%=show.description%></p>
</div>